<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image2code</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="bg-[#081c15] opacity-75">
    <nav class=" py-14 px-16">
        <div class="container mx-auto flex justify-between items-center">
            <!-- Logo or Website Name -->
            <a href="/home"
                class="text-gray-300 text-3xl  font-semibold hover:text-[#ADBDAB] hover:scale-95">Image2code</a>

            <!-- Navigation Links -->
            <div class="flex space-x-4 px-4">
                <a href="/home" class="text-gray-300 text-xl font-semibold hover:text-[#ADBDAB]">Home</a>
                <a href="/" class="text-gray-300 text-xl font-semibold hover:text-[#ADBDAB]">Image2code</a>

                <a href="/aboutus" class="text-gray-300 text-xl font-semibold hover:text-[#ADBDAB]">About Us</a>
                <!-- Add more links as needed -->
            </div>
        </div>
        <br>
        <hr>
    </nav>
    <main>
        <section1>
            <div class="flex flex-col md:flex-row">
                <div class=" justify-items-center py-8 md:1/2">
                    <!-- <img class="rounded-full py-2 px-3" src="/static/Screenshot 2023-12-03 080251.png"
                        style="height: 300px;width: 500px" alt="error"> -->
                        <div class="bg-fixed h-50 w-50" style="background-image: url("https://unsplash.com/photos/a-view-of-a-mountain-with-clouds-in-the-foreground-APbt7wjL-pg")"></div>
                    <h1 class="font-semibold text-white text-4xl px-3 underline underline-offset-1">Image2code</h1>
                    <div class="py-4">
                        <p class="text-[#ADB7BE] px-3 text-2xl">
                        <p class="text-[#ADB7BE] px-3 text-2xl">TEAM MEMBERS</p>
                        <p class="text-[#ADB7BE] px-3 text-2xl">Syed Nazeeruddin Yousuf : 20P71A6636</p>
                        <p class="text-[#ADB7BE] px-3 text-2xl">Mohammmed Abdul Razzack : 20P71A6602</p>
                        <p class="text-[#ADB7BE] px-3 text-2xl">Koyalkar Sai Kiran : 20P71A6654</p>
                        <p class="text-[#ADB7BE] px-3 text-2xl">Ragella Manish : 20P71A6630</p>

                        </p>
                    </div>
                </div>
                <div class="text-white md:w-96 flex-grow py-8">
                    <h1 class="font-semibold text-3xl px-3 underline underline-offset-1">Abstract</h1>

                    <p class="text-[#ADB7BE] px-3 text-2xl">The project is based on generating code for the image of a web page
                        given as an input by considering its UI ,frontend components and layouts as specified by the
                        user.
                        The code generator will automatically generate the code for the uploaded image. This code can be
                        used by the industries for their frontend saving their precious time.

                        Project Objective:
                        Delivering the suitable code for the web page design given as a photo to the Code Generator.
                        Specifying optimal and relevant code that runs with approximate results.
                        Producing a responsive code for the web page image.
                        Maintaining time and space complexity of the code.

                        Project Drawbacks:
                        Misplacing of the components arises due to bad quality of the image.
                        It may be difficult for the code generator to characterise between the label ,button and links.
                        Improper orientation may be generated for the code due to blur images uploaded.
                        Code might not be generated for lame images or photographs which are not relevant for coding.
                        If the page consists of many components in a single page it may take little extra time based on
                        the processor the user is having.</p>

                </div>
            </div>
        </section1>
    </main>






    <footer class="fixed bg-[#081c10] text-[white] opacity-50 p-4 bottom-px w-full">
        <div class="container mx-auto text-center">
            <!-- Names -->
            <p class="mb-2">Syed Nazeeruddin Yousuf | Mohammed Abdul Razzack | Ragella Manish | Sai Kiran</p>
            
            <!-- Copyright Notice -->
            <p>&copy; 2023 Your Website. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>